.password-strength-meter {
  height: 0.3rem;
  background-color: lightgrey;
  border-radius: 3px;
  margin: 0.5rem 0;
  display: flex;
}
.red-line-full-width {
  background-color: red;
  width: 100%;
  height: 0.3rem;
  border-radius: 3px;
}
.red-line {
  background-color: red;
  width: 33.33%;
  height: 0.3rem;
  border-radius: 3px;
}
.orange-line {
  background-color: orange;
  width: 66.66%;
  border-radius: 3px;
  height: 0.3rem;
}
.green-line {
  background-color: green;
  width: 100%;
  height: 0.3rem;
  border-radius: 3px;
}
.validation-container {
  min-width: 100%;
}
.password-strength {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: black;
  width: 97%;
  border-radius: 7px;
  background-color: darkgray;
  padding: 5px;
  margin-bottom: 10px;
}
